<!DOCTYPE html>
<html>
    <head th:fragment="head (title)">
        <title th:text="${title}">Layout Generic Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Compiled and minified CSS--> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

         <!--Compiled and minified JavaScript--> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
    </head>
    <body>
        <div>
            <form action="#" th:action="@{/search}" method="get">
                <table>
                    <tr>
                        <td>Haku:</td>
                        <td><input name="keyword" type="text"/></td>
                    </tr>
                    <tr>
                        <td><button type="submit">Hae</button></td>
                    </tr>
                </table>
            </form>
        </div>
        <div>content</div>
    </body>
</html>