<!DOCTYPE html>
<html>
    <head th:fragment="head (title)">
        <title th:text="${title}">Layout Generic Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <!-- MATERIALIZE -->
        <!-- !!! ICONS ARE IN menu !!! -->
        <link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
<!--        <script type = "text/javascript" th:src="@{/js/jquery-2.1.1.min.js}"></script>           
        <script th:src="@{/js/materialize.min.js}"></script>-->
        <!--MATERIALIZE IMPORTED-->
    </head>
    <body>

        <div>
        </div>
    </body>
</html>