<!DOCTYPE html>
<html>
   <head>
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   </head>
   <body>       
       <div class="container">
      <footer class = "page-footer">
         <div class = "footer-copyright">
            <div class = "container">
               © 2018 NESMM
               <a class = "grey-text text-lighten-4 right" href = "https://github.com/MatiasLyyra/Lukuvinkki-NESMM">Github</a>
            </div>
         </div>         
       </footer>
       </div>
   </body>   
</html>