<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <div class="container">
        <nav>
            <div class="nav-wrapper"><a class="brand-logo right" href="/">Lukuvinkki</a><a class="right button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-more-vert"></i></a>
              <ul class="left hide-on-med-and-down" id="nav-mobile">
                <li><a href="/tips">Lukuvinkit</a></li>
                <li><a href="/addTip">Lisää</a></li>
                <li><div>Haku:</div></li>
              </ul>
              <form class="red lighten-3" action="#" th:action="@{/search}" method="get">
                <div class="input-field">
                  <input id="search" name="keyword" type="search"/>
                  <label for="search"><i class="mdi-action-search"></i></label><i class="mdi-navigation-close close"></i>
                </div>
              </form>
            </div>
          </nav>
      </div>
  </body>
</html>