@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    font-family: 'Roboto', sans-serif;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    text-align: left;
}


.table thead tr {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.table tbody tr:nth-child(odd) {
    background-color: #515151;
    color: white;
}

.tag:first-child {
    margin-left: 0;
}

.tag {
    white-space: nowrap;
    color: white;
    padding: 4px 8px;
    padding-left: 10px;
    display: inline-block;
    background-color: #df6e21;
    border-radius: 5px;
    margin: 4px;
    position: relative;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 2px;
    position: absolute;
    width: 6px;
    transform: translateY(-50%);
    top: 50%;
}