<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lukuvinkki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div>
        <form action="#" th:action="@{/search}" method="post">
            <table>
                <tr>
                    <td>Haku:</td>
                    <td><input name="keyword" type="text"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Hae</button></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Url</td>
                    <td>Description</td>
                    <td>Tags</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tip : ${tips}" th:id="'tip-' + ${tip.getId()}" >
                    <td class="title" th:text="${tip.getTitle()}"></td>
                    <td class="author" th:text="${tip.getAuthor()}"></td>
                    <td class="url" th:text="${tip.getUrl()}"></td>
                    <td class="description" th:text="${tip.getDescription()}"></td>
                    <td class="tags">
                        <span class="tag" th:each="tag : ${tip.getTags()}" th:text="${tag.getName()}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
